.player-wrapper{
    display:flex;
    gap: 24px;
    width: 70vw;
    height: 100vh;
}
.video-player-notes{
    display:flex;
    flex-direction: column;
    width: 80%;
}
.video-player{
    height: 100vh;
}
.video-notes{
    height: 100vh;
}
.more{
    display:flex;
    flex-direction: column;
    width: 20%;
}
.btn-wl{
    margin-top: 20px;
    padding: 8px;
}


.video-player-notes *{
    border: 1px solid red;
}
.player-wrapper > *{
    border: 1px solid black;
}